$main-color: #FFFFFF;
$main-nav-color: #424541;
$second-nav-color: #60635E;
$main-text-color: #fff;
$dark-text-color: #005466;
$general-text-color: #60635E;
$main-font-stack: Arial,Helvetica,sans-serif;